html body {
    width: 1440px;
    height: 1024px;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 24px;
}

.esquerda {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.center {
    width: 404px;
    display: block;
    object-fit: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.dir {
    margin-left: auto;
}

.menu img {
    height: 24px;
}

.esq {
    margin: 0px 40px 0px 0px;
}

.sidebar {
    width: 160px;
    height: 938px;
    position: absolute;
    top: 84px;
    left: 1052px;
    display: flex;
    gap: 16px;
}

section {
        width: 952px;
        height: 746px;
        position: absolute;
        top: 84px;
        left: 75px;
        display: flex;
        flex-direction: column; 
        margin: 40px 0 0 20px;
}

section p {
    font-weight: 600;
    size: 20px;
    line-height: 23.44px;
}

.actions {
    width: 902px;
    height: 42px;
}

#Avatar {
    width: 42px;
    height: 42px;
}

.video_actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

#red_button {
    width: 159px;
    height: 40px;
    background-color: red;
}

#red_button p {
    position: relative;
    bottom: 8px;
    color: white;
    text-align: center;
}

p #desc {
    color: rgba(81, 81, 81, 1);
}

.videosdesc {
    width: 196px;
    position: absolute;
    top: -10px;
    left: 176px;
    margin: 0;
}

.videosdesc p {
    font-size: 10px;
    line-height: 1.2;
}

.view {
    position: absolute;
    top: 20px;
    left: 176px;
}

.view p {
    line-height: 2;
    font-size: 9px;
    color: rgba(81, 81, 81, 1);
}
